* {
  box-sizing: border-box;
}

#uiContainer {
  position: fixed;
  bottom: 60px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 8px;
  z-index: 9999;
}

#uiForm {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 5px;
  width: 300px;
  height: auto;
  display: none;
  color: #333333;
  border: none;
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  z-index: 100001;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  line-height: 1.4;
}

#elucidateLogo {
  position: fixed;
  bottom: 15px;
  right: 25px;
  transition: opacity 0.2s ease-in-out;
  z-index: 100000;
}

#elucidateLogo:hover {
  opacity: 0.5;
  cursor: pointer;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group-one-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

#defaultKeyButton {
  margin-left: 10px;
  margin-right: 10px;
}

.form-group > input,
.form-group > select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.form-group label {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

#translateButton {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #55935a;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  transition: 0.2s ease-in-out;
}

#translateButton:hover {
  opacity: 0.8;
}
